<a href="https://colab.research.google.com/github/pranay8297/deep-learning-projects/blob/master/collab_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "torch==1.4" "torchvision==0.5.0" #use the old version

Collecting torch==1.4
  Downloading https://files.pythonhosted.org/packages/24/19/4804aea17cd136f1705a5e98a00618cb8f6ccc375ad8bfa437408e09d058/torch-1.4.0-cp36-cp36m-manylinux1_x86_64.whl (753.4MB)
     |████████████████████████████████| 753.4MB 21kB/s
Collecting torchvision==0.5.0
  Downloading https://files.pythonhosted.org/packages/7e/90/6141bf41f5655c78e24f40f710fdd4f8a8aff6c8b7c6f0328240f649bdbe/torchvision-0.5.0-cp36-cp36m-manylinux1_x86_64.whl (4.0MB)
     |████████████████████████████████| 4.0MB 55.2MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torchvision==0.5.0) (1.18.5)
Requirement already satisfied: pillow>=4.1.1 in /usr/local/lib/python3.6/dist-packages (from torchvision==0.5.0) (7.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from torchvision==0.5.0) (1.15.0)
Installing collected packages: torch, torchvision
  Found existing installation: torch 1.7.0+cu101
    Uninstalling torch-1.7.0+cu101:
      Successfully uninstalled torch-1.7.0+cu101
  Found existing installation: torchvision 0.8.1+cu101
    Uninstalling torchvision-0.8.1+cu101:
      Successfully uninstalled torchvision-0.8.1+cu101
Successfully installed torch-1.4.0 torchvision-0.5.0

In [1]:
from fastai import *
from fastai.collab import *

In [4]:
path = untar_data(URLs.ML_SAMPLE)
path.ls()

Downloading http://files.fast.ai/data/examples/movie_lens_sample.tgz

[PosixPath('/root/.fastai/data/movie_lens_sample/ratings.csv')]

In [5]:
df = pd.read_csv(path/'ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [6]:
path.ls()

[PosixPath('/root/.fastai/data/movie_lens_sample/ratings.csv')]

In [2]:
!wget http://files.grouplens.org/datasets/movielens/ml-10m.zip
# !tar zxvf /root/.fastai/data/movie_lens_sample.tgz

--2020-12-14 18:36:18--  http://files.grouplens.org/datasets/movielens/ml-10m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65566137 (63M) [application/zip]
Saving to: ‘ml-10m.zip’

ml-10m.zip          100%[===================>]  62.53M  20.7MB/s    in 3.0s

2020-12-14 18:36:22 (20.7 MB/s) - ‘ml-10m.zip’ saved [65566137/65566137]

In [9]:
path.ls()

[PosixPath('/root/.fastai/data/movie_lens_sample/ratings.csv')]

In [11]:
pd.read_csv(path/'ratings.csv')

      userId  movieId  rating   timestamp
0         73     1097     4.0  1255504951
1        561      924     3.5  1172695223
2        157      260     3.5  1291598691
3        358     1210     5.0   957481884
4        130      316     2.0  1138999234
...      ...      ...     ...         ...
6026     384      377     4.0  1153501701
6027     262      587     1.5  1434024940
6028     580      153     2.0  1165899265
6029     585        1     4.0   974607482
6030     388      527     5.0   946509889

[6031 rows x 4 columns]

In [4]:
path = Path('/content/ml-10M100K')
path.ls()

[PosixPath('/content/ml-10M100K/allbut.pl'),
 PosixPath('/content/ml-10M100K/README.html'),
 PosixPath('/content/ml-10M100K/tags.dat'),
 PosixPath('/content/ml-10M100K/split_ratings.sh'),
 PosixPath('/content/ml-10M100K/movies.dat'),
 PosixPath('/content/ml-10M100K/ratings.dat')]

In [9]:
path.ls()

[PosixPath('/content/ml-10M100K/README.html'),
 PosixPath('/content/ml-10M100K/split_ratings.sh'),
 PosixPath('/content/ml-10M100K/ratings.dat'),
 PosixPath('/content/ml-10M100K/tags.dat'),
 PosixPath('/content/ml-10M100K/allbut.pl'),
 PosixPath('/content/ml-10M100K/movies.dat')]

In [5]:
  movies = pd.read_csv(path/'movies.dat', delimiter='::', encoding='latin-1', header=None, names = ['mid', 'name', 'geners'])
  movies.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   mid  ...                                       geners
0    1  ...  Adventure|Animation|Children|Comedy|Fantasy
1    2  ...                   Adventure|Children|Fantasy
2    3  ...                               Comedy|Romance
3    4  ...                         Comedy|Drama|Romance
4    5  ...                                       Comedy

[5 rows x 3 columns]

In [6]:
ratings = pd.read_csv(path/'ratings.dat', delimiter= '::', encoding='latin-1', header = None, names = ['uid', 'mid', 'target', 'ts'])
ratings.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   uid  mid  target         ts
0    1  122     5.0  838985046
1    1  185     5.0  838983525
2    1  231     5.0  838983392
3    1  292     5.0  838983421
4    1  316     5.0  838983392

In [7]:
nr = ratings.merge(movies , left_on = 'mid', right_on = 'mid')

In [13]:
nr.head()

   uid  mid  target          ts              name          geners
0    1  122     5.0   838985046  Boomerang (1992)  Comedy|Romance
1  139  122     3.0   974302621  Boomerang (1992)  Comedy|Romance
2  149  122     2.5  1112342322  Boomerang (1992)  Comedy|Romance
3  182  122     3.0   943458784  Boomerang (1992)  Comedy|Romance
4  215  122     4.5  1102493547  Boomerang (1992)  Comedy|Romance

In [8]:
movie_ratings = nr

In [11]:
data = CollabDataBunch.from_df(movie_ratings, user_name = 'uid', item_name = 'name', rating_name='target')
data.show_batch()

In [13]:
data

TabularDataBunch;

Train: LabelList (8000044 items)
x: CollabList
uid 1; name Boomerang (1992); ,uid 139; name Boomerang (1992); ,uid 149; name Boomerang (1992); ,uid 215; name Boomerang (1992); ,uid 217; name Boomerang (1992);
y: FloatList
5.0,3.0,2.5,4.5,3.0
Path: .;

Valid: LabelList (2000010 items)
x: CollabList
uid 54702; name Peggy Sue Got Married (1986); ,uid 4217; name L.A. Confidential (1997); ,uid 68798; name Fantastic Voyage (1966); ,uid 28437; name Kate & Leopold (2001); ,uid 27022; name Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001);
y: FloatList
2.0,5.0,4.0,2.5,3.0
Path: .;

Test: None

In [17]:
doc(collab_learner)

In [20]:
learn = collab_learner(data, n_factors = 50, y_range = [0, 5.5], metrics = accuracy)
learn

CollabLearner(data=TabularDataBunch;

Train: LabelList (8000044 items)
x: CollabList
uid 1; name Boomerang (1992); ,uid 139; name Boomerang (1992); ,uid 149; name Boomerang (1992); ,uid 182; name Boomerang (1992); ,uid 215; name Boomerang (1992);
y: FloatList
5.0,3.0,2.5,3.0,4.5
Path: .;

Valid: LabelList (2000010 items)
x: CollabList
uid 51011; name Chinatown (1974); ,uid 56560; name GoldenEye (1995); ,uid 14806; name Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964); ,uid 67872; name Breakfast Club, The (1985); ,uid 64969; name High Fidelity (2000);
y: FloatList
5.0,3.0,3.0,5.0,4.0
Path: .;

Test: None, model=EmbeddingDotBias(
  (u_weight): Embedding(69879, 50)
  (i_weight): Embedding(10656, 50)
  (u_bias): Embedding(69879, 1)
  (i_bias): Embedding(10656, 1)
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=FlattenedLoss of MSELoss(), metrics=[<function accuracy at 0x7eff04f269d8>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('.'), model_dir='models', callback_fns=[functools.partial(<class 'fastai.basic_train.Recorder'>, add_time=True, silent=False)], callbacks=[], layer_groups=[Sequential(
  (0): Embedding(69879, 50)
  (1): Embedding(10656, 50)
  (2): Embedding(69879, 1)
  (3): Embedding(10656, 1)
)], add_time=True, silent=False)

In [ ]:
learn.fit(2)

In [37]:
movie_ratings.head()

   uid  mid  target          ts              name          geners
0    1  122     5.0   838985046  Boomerang (1992)  Comedy|Romance
1  139  122     3.0   974302621  Boomerang (1992)  Comedy|Romance
2  149  122     2.5  1112342322  Boomerang (1992)  Comedy|Romance
3  182  122     3.0   943458784  Boomerang (1992)  Comedy|Romance
4  215  122     4.5  1102493547  Boomerang (1992)  Comedy|Romance

In [9]:
#test
us, ms = set(), set()
for u, i in zip(movie_ratings['uid'], movie_ratings['name']):
  us.add(u)
  ms.add(i)
len(us), len(ms)

(69878, 10676)

In [10]:
nu, ni = 69878, 10676

In [42]:
for batch in data.train_dl:
  break
batch

[[tensor([31320,  5348,  8489, 39559, 53452, 15750, 51311, 53133, 47793,  1414,
            679, 54491,  2249, 59086, 54811, 53449, 15925, 42915, 34821, 68676,
          49082, 48540, 67359, 51781, 28838, 55884, 52121, 35575, 47883,  2465,
          68419, 10501, 39418, 54901, 41533, 57458, 29850, 63720,  8976, 11219,
          24645, 60032, 56205,  9658, 15134, 10153, 59944,  1234, 30699, 10376,
          30248, 68618, 52967, 15620, 66447, 33580, 52490, 58044, 20533, 68030,
          37276, 50322, 63016, 54244], device='cuda:0'),
  tensor([ 2084,  8892,  1346,  9707,  4620,  7648,  2391,  6510,  9933, 10539,
           2348,  6356,  9157,  3576,  1475,  9664,   386,  5328,  8307,   806,
           3027,  1791,  1600,  9629,  6114,  7648,  6518,  5918,  3690,   167,
           1008,    31,  2836,  7562, 10592,  7278, 10023,   960,  8963,  1633,
           7377,  5761,  6271,  5368,  2093,  9445,  7444,  8723,  7675,  7366,
           4443,  4823,  9784,  4981,  8640,  6806,  1705,  2142,  1543, 10476,
            828,  3302,  3770,  3840], device='cuda:0')],
 tensor([5.0000, 4.0000, 4.5000, 5.0000, 5.0000, 5.0000, 3.0000, 4.0000, 3.0000,
         3.0000, 5.0000, 4.5000, 3.0000, 4.0000, 3.0000, 3.0000, 4.0000, 5.0000,
         4.0000, 5.0000, 3.5000, 4.0000, 4.0000, 1.0000, 4.0000, 4.0000, 3.0000,
         4.0000, 1.0000, 5.0000, 3.0000, 4.0000, 3.0000, 1.0000, 4.0000, 5.0000,
         3.5000, 3.0000, 5.0000, 3.0000, 3.5000, 2.0000, 4.0000, 2.0000, 3.0000,
         4.0000, 2.0000, 5.0000, 4.0000, 3.0000, 4.0000, 4.0000, 2.0000, 0.5000,
         5.0000, 3.0000, 2.0000, 3.0000, 2.0000, 4.5000, 3.0000, 5.0000, 3.0000,
         4.0000], device='cuda:0')]

In [46]:
batch[0][0] = batch[0][0].cpu()
batch[0][1] = batch[0][1].cpu()
batch[1][0] = batch[1][0].cpu()
u, i  = batch[0]
y = batch[1]

In [48]:
#test
ue = nn.Embedding(nu, 40)
ie = nn.Embedding(ni, 40)
ub = nn.Embedding(nu, 1)
ib = nn.Embedding(ni, 1)

In [56]:
#test
dot = ue(u) * ie(i)
dot_sum = dot.sum(1) + ub(u).squeeze(1) + ib(i).squeeze(1)

u.shape, i.shape, dot.shape, dot.sum(0).shape, dot.sum(1).shape, ub(u).squeeze(1).shape, ib(i).shape, dot_sum.shape

(torch.Size([64]),
 torch.Size([64]),
 torch.Size([64, 40]),
 torch.Size([40]),
 torch.Size([64]),
 torch.Size([64]),
 torch.Size([64, 1]),
 torch.Size([64]))

In [23]:
y_range = [0., 5.5]
class MyModel(nn.Module):

  def __init__(self, n_factors = 50, nu = nu, ni = ni, y_range = y_range):
    
    super().__init__()

    self.u_emb = nn.Embedding(nu, n_factors)
    self.i_emb = nn.Embedding(ni, n_factors)
    self.u_bias = nn.Embedding(nu, 1)
    self.i_bias = nn.Embedding(ni, 1)
    self.y_range = y_range

  def range_sigmoid(self, values, range):
    return (torch.sigmoid(values) * (range[1] - range[0])) + range[0]

  def forward(self, u, i):
    dot = self.u_emb(u) * self.i_emb(i)
    res = dot.sum(1) + self.u_bias(u).squeeze(1) + self.i_bias(i).squeeze(1)
    return self.range_sigmoid(res, self.y_range)

In [20]:
loss_func = MSELossFlat()

In [77]:
res = mod(u, i)
res.shape, y.shape
loss_func(res, y.cpu())

tensor(7.5243, grad_fn=<MseLossBackward>)

In [79]:
for i in mod.parameters():
  print(i.shape)

torch.Size([69878, 50])
torch.Size([10676, 50])
torch.Size([69878, 1])
torch.Size([10676, 1])

In [90]:
import os
os.environ['CUDA_LAUNCH_BLOCKING'] = "1"

In [95]:
nu, ni

(69878, 10676)

In [24]:
model = MyModel(n_factors= 40, nu = nu, ni = ni, y_range = [0., 5.5])

In [25]:
model = model.cuda()

In [28]:
def update(data = data, epocs = 1, loss_func = loss_func, lr = 1e-04):
  losses = []
  count = 0
  for x, y in data.train_dl:
    res = model(*x)
    loss = loss_func(res, y)
    loss.backward()
    with torch.no_grad():
      for param in model.parameters():
        param.sub_(lr*param.grad)
        param.grad.zero_()
    # losses.append(loss.item())
    count += 1
    if count%10 == 0: print(loss.item())
  return losses

In [29]:
update()

6.338931083679199
6.946404457092285
7.683653831481934
7.5213470458984375
6.128991603851318
6.006279945373535
6.327934741973877
7.9012017250061035
7.225693702697754
6.87947940826416
7.624650955200195
7.841183662414551
7.872495651245117
7.086635589599609
7.912225723266602
7.267127990722656
7.162967205047607
7.234475612640381
7.07453727722168
8.272802352905273
7.269065856933594
6.943909168243408
7.463301181793213
8.199300765991211
6.584710121154785
6.694016456604004
7.370622634887695
6.5701494216918945
7.135500907897949
6.611797332763672
6.545305252075195
8.228529930114746
8.116586685180664
7.8083672523498535
7.718442916870117
7.608083248138428

RuntimeError: ignored